.section.steps {
  gap: 60px;
}

.steps-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

@media screen and (max-width: 1000px) {
  .steps-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .steps-list .step:first-child {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .steps-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.steps-list .step {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  background-color: var(--card);
  box-shadow: 0px 1px 6px rgba(var(--foreground-rgb), 0.1);
  border: 1px solid rgba(var(--foreground-rgb), 0.17);
  transition: all 0.15s ease-out;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.steps-list .step:hover {
  box-shadow: 0px 1px 6px rgba(var(--foreground-rgb), 0.2);
  border: 1px solid rgba(var(--foreground-rgb), 0.3);
  transform: translateY(-4px);
}

.steps-list .step .step-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top center;
  z-index: 10;
  mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.565) 78%, transparent 100%);
}

.step:hover .step-color {
  transform: scale(1.25);
}

.steps-list .step .step-title {
  margin: 0 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(--foreground);
  width: calc(100% - 40px);
}

.steps-list .step .step-description {
  margin: 0 20px;
  margin-top: 0px;
  width: calc(100% - 40px);
  margin-bottom: 18px;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(var(--foreground-rgb), 0.7);
  line-height: 1.3rem;
}