.light-rays-container {
  width: 100%;
  height: 160%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #090c14;
  mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.565) 78%, transparent 100%);
}

.hero {
  padding: 20px 20px;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--background);
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  max-width: 800px;
  width: 100%;
  z-index: 1;
  filter: drop-shadow(0px 0px 30px #090c14)
}

.hero-title h1 {
  font-size: 4.2rem;
  line-height: 4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
}

.hero-description {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  opacity: 0.8;
}

.hero-image-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 1000px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.hero-image {
  margin-top: 30px;
}

.actions {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 800px) {
  .hero-title h1 {
    font-size: 2.9rem;
    line-height: 2.9rem;
  }

  .hero-description {
    font-size: 1.1rem;
  }

  .actions {
    display: none;
  }

  .hero-image {
    zoom: 0.7;
  }
}

@media screen and (max-width: 600px) {
  .hero-image-container {
    margin-bottom: -300px;
  }
}