.button {
  border-radius: 80px;
  height: 40px;
  padding: 0px 16px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
  background: var(--button-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: all 0.1s ease-in-out;

  width: fit-content;
}

.button.outlined {
  background: transparent;
  border: 1px solid var(--button-color);
  box-shadow: none;
}

.button:hover {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.35),
    0px 1px 6px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.button.outlined:hover {
  box-shadow: none;
}

.button:active {
  box-shadow: none;
  transform: scale(0.98);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
}

.button-value {
  color: #fff;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.button.outlined .button-value {
  color: var(--button-color);
}